name: Cross OS Example

on: [push]

jobs:
  # First run the benchmarks in 3 operating systems.
  run:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: latest

      - uses: pnpm/action-setup@v3
        with:
          version: latest
          run_install: true

      # Use --tag argument to add the OS name to result.
      - run: pnpm exec esbench --tag os:${{ matrix.os }}

      # Upload the result file to Actions artifacts
      - uses: actions/upload-artifact@v4
        with:
          name: result-${{ matrix.os }}

          # This is the default path of Raw Reporter.
          path: node_modules/.esbench/result.json

  # Start a Job to generate the report.
  report:
    runs-on: ubuntu-latest

    # Should run after all the benchmarks finished.
    needs: run

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: latest

      - uses: pnpm/action-setup@v4
        with:
          version: latest
          run_install: true

      # Download result files from Actions artifacts.
      - uses: actions/download-artifact@v4
        with:
          path: reports
          pattern: result-*

      # Use the report command to collect all results
      - run: pnpm exec esbench report reports/**/*.json
